.shopcategorybanner {
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopCategoryIndex {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopCategorySort {
    padding: 10px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopCategorySort p span {
    font-weight: 600;
}

.shopcategoryproduct {
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

.shopcategoryloadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 60px;
    border-radius: 75px;
    background: #ff2501;

    color: #fff;
    font-size: 18px;
    font-weight: 500;
}