.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.footerLogo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footerLogo img{
    width: 150px;
}
.footerLogo p{
    color: #383838;
    font-size: 46px;
    font-weight: 600;
}
.footerLinks{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}
.footerLinks li{
    cursor: pointer;
}
.footerSocialIcon{
    display: flex;
    gap:  20px;
    background: #ffefd5;
}
.footerItemContainr{
    padding: 10px;
    padding-bottom: 6px;
    background:#ffefd5;
    border: none;
}
.footerCopyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}
.footerCopyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background:#ffefd5;
}